body {
    font-family: "LXGW WenKai Screen",
        sans-serif;
    font-weight: normal;
}

/* TODO 代码字体 */
/* :root {
    --md-text-font: "LXGW WenKai Screen";
    --md-code-font: "LXGW WenKai Screen";
} */